.cardsContainer {
  max-width: 992px;
  margin: 3.5em auto;
  padding: 0 4em;
  display: flex;
  justify-content: space-between;
}

.productsContainer {
  display: flex;
  flex-direction: column;

  max-width: 992px;
  margin: 0 auto;
  padding: 0 4rem;
}

.productsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h1 {
    font-size: 1.5em;
    color: var(--blue);
  }

  > a {
    color: var(--red);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.7);
    }
  }
}

.products {
  display: grid;
  grid-template-areas: "p p p";
  // grid-template-rows: auto;
  overflow-x: hidden;
  gap: 1.5em;
  margin-top: 3em;
}

@media (max-width: 1005px) {
  .products {
    grid-template-areas: "p p";
  }
}

@media (max-width: 950px) {
  .cardsContainer {
    flex-direction: column;
  }
}

@media (max-width: 695px) {
  .products {
    grid-template-areas: "p";
  }
}

@media (max-width: 415px) {
  .cardsContainer {
    padding: 0 2em;
  }
  .productsContainer {
    padding: 0 2rem;
  }
}

@media (max-width: 300px) {
  .cardsContainer {
    padding: 0 0.5em;
  }
  .productsContainer {
    padding: 0.5rem;
  }
}
