.card {
  padding: 0.6em 0.6em;
  display: flex;
  flex-direction: column;

  color: (--white);
  border: 1px solid var(--textLight);

  > picture {
    position: relative;
    display: flex;
    flex-direction: column;

    > img {
      max-width: 22em;
    }

    > span {
      color: var(--white);
      align-self: flex-end;
      margin-top: -1.7em;
      margin-right: 1.8em;
      z-index: 2;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 86%;
      right: 5%;
      width: 4em;
      height: 4em;
      z-index: 1;

      background: var(--red);
      border-radius: 50%;
    }
  }
}

.description {
  padding: 0 1em;
  > h4 {
    color: var(--blue);
    margin-top: 1.5em;
  }
}

.value {
  display: flex;
  flex-direction: column;

  margin: 1em 0;
  color: var(--blue);

  h4 {
    opacity: 0.5;
  }
}

.sell {
  color: var(--blue);
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 725px) {
  .card {
    > picture {
    }
  }
}
