.footer {
  margin-top: 4em;
  padding: 2em 0;
  background-color: var(--blue);

  > div {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 4rem;
    position: relative;
    z-index: 1;

    > a:first-child {
      text-decoration: none;
      color: var(--white);
      font-weight: 700;
      font-size: 1.4em;
      display: flex;
      width: 10%;
      flex-direction: row;
      align-items: center;
      gap: 0.9em;
      padding-top: 1em;
      margin-left: 0.5em;

      > span {
        display: inline-block;
        padding: 16px 0;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 1em;
          z-index: -1;
          width: 1.5em;
          height: 1.5em;
          transform: translate(-25%, -25%) rotate(45deg);
          background: var(--red);
          border-radius: 0.5em;

          transition: 0.4s ease;
        }
      }

      &:hover {
        > span {
          &::after {
            transform: translate(-25%, -25%) rotate(0deg);
          }
        }
      }
    }

    p {
      color: var(--text);
      font-size: 0.8em;
      margin: 1em 0;
    }

    > p:last-child {
      text-align: end;
    }
  }
}
